:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-headings-dark: #5c5577;
  --color-body: #918ca4;
  --color-border: #ccc;
  --color-shadow-dark: #2e2e2e;
  --border-radius: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}
/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

p {
  margin-top: 0;
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.link-arrow::after {
  content: '-->';
  margin-left: 5px;
  transition: margin-left 0.2s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* Badges */

.badge {
  border-radius: 20px;
  display: inline-block;
  font-weight: 600;
  padding: 0.2rem 1rem;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--dark {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  color: var(--color-headings);
  list-style-type: none;
  padding-left: 0;
}

.list--inline {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.list--inline .list__item {
  display: inline-block;
}

.list--inline .list__item:not(:first-child) {
  margin-left: 5rem;
}

/* list tick */

.list--tick {
  font-size: 2.2rem;
  list-style-image: url(../images/icons/tick.svg);
}

.list--tick .list__item {
  margin-left: 3rem;
  padding-left: 1rem;
}

.list--tick .list__item:not(:last-child) {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .list--tick {
    font-size: 1.8rem;
  }
}

/* Icons */

.icon {
  height: 40px;
  width: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 50%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
  padding: 15px;
}

.icon-container--primary {
  background: var(--color-accent);
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  text-transform: uppercase;
  padding: 2rem 3.5rem;
}

.btn:focus {
  outline: 0;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #00aecc;
}

.btn--secondary:active {
  background: #009fbb;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #dd2d00;
}

.btn--accent:active {
  background: #cc2a00;
}
.btn--outlined {
  border: solid 2px var(--color-headings);
  background: #fff;
  color: var(--color-headings);
  transition: background 0.2s, color 0.2s;
}

.btn--outlined:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Input Search */

.input {
  border-radius: var(--border-radius);
  border: solid 1px var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: none;
  padding: 3rem 2.5rem;
}

.input::placeholder {
  color: #cdcbd7;
}

.input-container {
  border-radius: var(--border-radius);
  border: solid 1px var(--color-border);
  display: flex;
}

.input-container .input {
  border: 0;
  flex-grow: 1;
  padding: 2rem 3rem;
}

.input-container .btn {
  margin: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .input-search {
    font-size: 1.5rem;
  }
}

/* Cards */

.card {
  border-radius: 8px;
  box-shadow: 0 0px 30px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.card__header {
  border-radius: 8px 8px 0 0;
}

.card__header * {
  color: inherit;
}

.card__body,
.card__header {
  padding: 1.5rem 3rem;
}

.card__header {
  padding: 0.5rem 3rem;
}

/* Plan */
.plan {
  max-width: 50rem;
  position: relative;
  transition: all 0.2s;
}

.plan:hover .card {
  box-shadow: 0 30px 25px 10px #dce3e7;
  transform: scale(1.05);
}

.plan__title {
  font-size: 2.4rem;
  font-weight: 600;
}

.plan__price {
  display: inline-block;
  font-size: 5rem;
  font-weight: 600;
  margin-top: 0;
}

.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  margin-left: 0.5rem;
}

.plan__tagline {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  font-size: 2rem;
  font-weight: 300;
  padding: 0;
}

.plan .badge {
  margin: 0 0.5rem;
  transform: translateY(-0.2rem);
}

.plan .list {
  margin: 3rem 0;
}

.plan--popular {
  transform: scale(1.12);
}

.plan--popular .card {
  box-shadow: 0 05px 35px 10px #dce3e7;
}

.plan--popular:hover {
  transform: scale(1.14);
}

.plan--popular .card__header::before {
  content: url('/images/icons/popular.svg');
  position: absolute;
  right: 2rem;
  top: -0.5rem;
  width: 5rem;
}

@media screen and (min-width: 1024px) {
  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__tagline {
    font-size: 1.7rem;
  }

  .plan__header {
    padding: 1px 3rem;
  }

  .plan--popular .card__header::before {
    width: 4rem;
  }
}

@media screen and (max-width: 1023px) {
  .plan {
    min-width: 40rem;
    margin: 0 auto;
  }
}
/* Media  */

.media {
  display: flex;
}

.media__img {
  align-self: flex-start;
  margin: 1rem 0 0 0;
}

.media__body {
  margin-left: 2rem;
}

.media__title {
  margin: 0;
}

/* Quotes */

.quote__text {
  color: var(--color-headings-dark);
  font-size: 3rem;
  font-style: italic;
  line-height: 1.5;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
}

.quote__organization {
  color: var(--color-headings);
  font-size: 2rem;
  opacity: 0.4;
}

.quote__line {
  bottom: 0.6rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .quote__text,
  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonial  */

.testimonial {
  padding: 4rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  right: -32px;
  top: 3rem;
}

/* Callout */

.callout {
  padding: 4rem;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout--primary .callout__heading {
  color: inherit;
}

.callout__content {
  text-align: center;
}

.callout__heading {
  font-size: 3rem;
  margin-top: 0;
}

.callout__btn {
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__btn {
    justify-self: start;
    margin-left: 3rem;
  }

  .callout__content {
    text-align: left;
  }
}

/* Collapsibles */

.collapsible__header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  font-size: 3rem;
  margin-top: 0;
}

.collapsible__icon {
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(0);
}

/* Navigation bar */

.navbar {
  align-items: center;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.navbar__brand {
  transform: translateY(5px);
  width: 150px;
}

.navbar__toggler {
  transform: none;
  opacity: 0.5;
  transition: 0.2s;
}

.navbar.collapsible--expanded .navbar__toggler {
  opacity: 1;
  box-shadow: 0 0 0 5px var(--color-shadow-dark);
  border-radius: 5px;
}

.navbar__brand > img {
  width: 100%;
}

.navbar__list {
  margin: 0;
  width: 100%;
}

.navbar__item {
  border-bottom: 1px solid var(--color-shadow-dark);
}

.navbar__item:last-child {
  border-bottom: 0;
}

.navbar__item {
  padding: 0.5rem 2rem;
}

.navbar__link {
  color: #d2d0db;
  transition: 0.2s ease;
}

.navbar__link:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .navbar__list {
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }

  .navbar__toggler {
    display: none;
  }

  .navbar__item {
    border: 0;
  }
}

/* Blocks */

.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
}
.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
  line-height: 1.1;
}

.block__header {
  padding: 4rem;
  text-align: center;
}

.block__header h1,
.block__header h2,
.block__header h3 {
  margin-top: 0;
}

.block--skewed-left,
.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

@media screen and (min-width: 768px) {
  .block--skewed-right {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  .block--skewed-left {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

/* Hero Section */

.hero__img {
  height: 100%;
  width: 100%;
}

.hero__text {
  margin: 2rem 0 3rem;
  letter-spacing: 1px;
  font-size: 2rem;
  color: #b9c3cf;
}

.hero.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}

@media screen and (min-width: 768px) {
  .hero__content {
    align-self: center;
    justify-self: right;
    text-align: left;
  }
}

/* Feature Section */
.block-domain__text {
  width: 70ch;
  margin-left: auto;
  margin-right: auto;
}

.block-domain .input-container {
  border: 0;
  box-shadow: 0 10px 30px 0px #ddd;
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
}

.block-domain__list {
  align-items: center;
  display: grid;
  font-weight: 700;
  grid-template: repeat(2, 5rem) / repeat(3, 1fr);
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .block-domain__list {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
  }
}

/* Plan Block  */

.block-plan .grid {
  gap: 8rem 4.5rem;
}

/* Feature Block*/

.feature {
  align-items: center;
  gap: 5rem;
  justify-items: center;
}

.feature:not(:last-child) {
  margin-bottom: 7rem;
}

.feature__img {
  width: 100%;
}

.feature__heading {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .feature:nth-child(odd) .feature__content {
    order: 2;
  }
}

/* Showcase Block */

.block-showcase__img {
  border-radius: 20px;
  width: 100%;
}

.block-showcase .grid {
  gap: 6.5rem;
}

.block-showcase .media {
  margin-bottom: 3rem;
}

.block-showcase__content {
  margin-bottom: 8rem;
}

/* footer */

.footer {
  background: #232323;
}

.footer__section {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 3rem;
}

.footer__heading {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__list li {
  margin: 2rem 0;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand img {
  max-width: 25rem;
  transform: translate(-20px, -10px);
  width: 100%;
}

@media screen and (min-width: 850px) {
  .footer__sections {
    column-gap: 5.5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer__section {
    border: 0;
  }

  .footer .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }

  .footer .collapsible__icon {
    display: none;
  }

  .footer__brand {
    margin-top: 0;
    order: -1;
    text-align: left;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }
}
