<section class="block container">
  <header class="block__header">
    <h2>Host Оn Тhe Cloud to Keep Growing</h2>
    <p>
      Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
      accumsan.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/icons/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni optio ex
        tempora corporis architecto cum voluptate, ducimus vel unde repellendus
        saepe illo quasi! Unde ad eos a amet? Mollitia, nostrum.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <figure>
      <picture>
        <source
          type="image/webp"
          srcset="./images/easy@2x.webp 2x, ./images/easy.webp 1x"
        />
        <img src="./images/easy@2x.png" alt="" class="feature__img" />
      </picture>
    </figure>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/icons/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply fast websites</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni optio ex
        tempora corporis architecto cum voluptate, ducimus vel unde repellendus
        saepe illo quasi! Unde ad eos a amet? Mollitia, nostrum.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <figure>
      <picture>
        <source
          type="image/webp"
          srcset="./images/fast@2x.webp 2x, ./images/fast.webp 1x"
        />
        <img src="./images/fast.png" alt="" class="feature__img" />
      </picture>
    </figure>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/icons/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress made easy</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni optio ex
        tempora corporis architecto cum voluptate, ducimus vel unde repellendus
        saepe illo quasi! Unde ad eos a amet? Mollitia, nostrum.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <figure>
      <picture>
        <source
          type="image/webp"
          srcset="./images/wordpress@2x.webp 2x, ./images/wordpress.webp 1x"
        />
        <img src="./images/wordpress@2x.png" alt="" class="feature__img" />
      </picture>
    </figure>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/icons/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni optio ex
        tempora corporis architecto cum voluptate, ducimus vel unde repellendus
        saepe illo quasi! Unde ad eos a amet? Mollitia, nostrum.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <figure>
      <picture>
        <source
          type="image/webp"
          srcset="./images/support@2x.webp 2x, ./images/support.webp 1x"
        />
        <img src="./images/support.png" alt="" class="feature__img" />
      </picture>
    </figure>
  </article>
</section>
