<section class="block container block-domain">
  <header class="block__header">
    <h2 class="block__heading">Starting $10 at per month.</h2>
    <p class="block-domain__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eum voluptas
      eius tempore commodi autem nihil consequatur unde praesentium aspernatur!
    </p>
  </header>
  <div class="input-container">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--primary icon--small">
        <use xlink:href="images/icons/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="block-domain__list">
    <li>.com $9.26</li>
    <li class="badge badge--secondary">.sg $7.91</li>
    <li>.info $14.15</li>
    <li>.net $16.15</li>
    <li>.io $11.63</li>
    <li>.xyz $10.15</li>
  </ul>
</section>
