<article class="card card--secondary card--popular">
  <header class="card__header">
    <h2 class="card__title">Buisness</h2>
    <h3 class="card__price">
      $25<span class="card__billing-cycle">/month</span>
    </h3>
    <div class="badge badge--dark">20% OFF</div>
    <p class="card__tagline">Optimal Cloud Experience</p>
  </header>
  <div class="card__body">
    <ul class="list list--tick">
      <li class="list__item">Unlimited Websites</li>
      <li class="list__item">Unlimited Bandwidth</li>
      <li class="list__item">100 GB SSD Storage</li>
      <li class="list__item">3 GB RAM</li>
    </ul>
    <button class="btn btn--outlined btn--block">Buy Now</button>
  </div>
</article>
