<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Callout Heading</h2>
    <svg class="icon icon--primary collapsible__icon">
      <use xlink:href="images/icons/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
      praesentium iste, vero delectus asperiores cupiditate omnis molestias
      aliquid error quas eaque non, doloremque earum. Eaque molestiae tenetur
      magnam consequuntur hic!
    </p>
  </div>
</div>
