<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__section-heading">PRODUCTS</h3>
        <svg class="icon icon--primary icon--white collapsible__icon">
          <use xlink:href="images/icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="footer__list">
          <li>Wordpress Hosting</li>
          <li>Free Automation Wordpress</li>
          <li>Migrations</li>
          <li>Domain Names</li>
          <li>Monthly Web Hosting</li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__section-heading">COMPANY</h3>
        <svg class="icon icon--primary icon--white collapsible__icon">
          <use xlink:href="images/icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="footer__list">
          <li>About</li>
          <li>Affilliates</li>
          <li>Blog</li>
          <li>Careers</li>
          <li>Community</li>
          <li>News</li>
          <li>Green Hosting</li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__section-heading">SUPPORT</h3>
        <svg class="icon icon--primary icon--white collapsible__icon">
          <use xlink:href="images/icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="footer__list">
          <li>Contact</li>
          <li>Knowledge Base</li>
          <li>Forums</li>
          <li>System Status</li>
          <li>Web Hosting</li>
          <li>Dream Computer</li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__section-heading">DOMAIN</h3>
        <svg class="icon icon--primary icon--white collapsible__icon">
          <use xlink:href="images/icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="footer__list">
          <li>Domain Checker</li>
          <li>Domain Transfer</li>
          <li>Free Domain</li>
          <li>XYZ Domain</li>
          <li>Cheap SSL Certificates</li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="./images/logo.svg" alt="Moshified logo." />
      <p class="footer__copyright">Copyright &copy; 2021 All rights reserved</p>
    </section>
  </div>
</footer>
<script src="./js/main.js"></script>
