<nav class="navbar collapsible">
  <a href="/" class="navbar__brand">
    <img src="/images/logo.svg" alt="Moshified Logo" />
  </a>
  <svg class="icon icon--primary navbar__toggler collapsible__icon icon--white">
    <use xlink:href="images/icons/sprite.svg#menu"></use>
  </svg>
  <ul class="navbar__list collapsible__content">
    <li class="navbar__item">
      <a href="#" class="navbar__link">Hosting</a>
    </li>
    <li class="navbar__item"><a href="#" class="navbar__link">VPS</a></li>
    <li class="navbar__item">
      <a href="#" class="navbar__link">Domain</a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link">Pricing</a>
    </li>
  </ul>
</nav>
