<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, rem! Non
    consequuntur hic rerum, eveniet possimus iure sint vel numquam consectetur
    nobis cum aut laudantium expedita dolor reiciendis atque. Eos.
  </p>

  <article class="media">
    <figure class="media__img quote__line">
      <svg class="icon icon--primary">
        <use xlink:href="images/icons/sprite.svg#line"></use>
      </svg>
    </figure>
    <div class="media__body">
      <h3 class="media__title quote__author">John Smith</h3>
      <p class="quote__organization">ABC Company</p>
    </div>
  </article>
</blockquote>
